.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-m) var(--space-s);
    gap: var(--space-xxs);

    font-weight: bold;
    font-size: 16px;
    text-align: center;

    background: none;
    text-decoration: none;
    border: none;
    border-radius: 50px;
}

.primary {
    background-color: var(--blue);
    color: var(--yellow-1);
}

.primary:hover {
    background-color: var(--blue1);
    color: var(--yellow);
}

.secondary {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
}

.secondary:hover {
    background-color: var(--white);
    color: var(--blue-1);
}

@media (max-width: 800px) {
    .btn {
        font-size: 15px;
    }
}