/* BOTÕES */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-m) var(--space-s);
    gap: var(--space-xxs);

    font-weight: bold;
    font-size: 16px;
    text-align: center;

    background: none;
    text-decoration: none;
    border: none;
    border-radius: 50px;
}

/* Primário */
.primary {
    background-color: var(--blue);
    color: var(--yellow-1);
}

.primary:hover {
    background-color: var(--blue1);
    color: var(--yellow);
}

/* Secundário */
.secondary {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
}

.secondary:hover {
    background-color: var(--white);
    color: var(--blue-1);
}

/* Tempo e forma de transição */
.bnt,
.primary,
.primary:hover,
.secondary,
.secondary:hover {
    transition: .5s;
}

/* HEADER E DROPDOWN*/
header {
    display: flex;
    align-items: center;
    padding: var(--space-s) var(--space-l);
    gap: var(--space-m);
    background-color: var(--white);
    border-bottom: 2px solid var(--gray-1);
}

header .logo-container {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

header .logo-container img {
    aspect-ratio: 1 / 1;
    width: 35px;
}

header .logo-container h4 {
    color: transparent;
    background: linear-gradient(to right, var(--blue) 0%, var(--green) 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

header nav {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--space-xl);
}

header nav .option,
header nav .selected,
.dropdown-container .option,
.dropdown-container .selected {
    color: var(--gray);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    transition: .3s;
}

header nav .option:hover,
.dropdown-container .option:hover {
    color: var(--gray1);
    transition: .3s;
}

header nav .selected,
.dropdown-container .selected {
    color: var(--dark);
}

header nav .btn-login {
    padding: var(--space-s) var(--space-s);
    background-color: transparent;
    color: var(--blue);
    border: 2px solid var(--blue);
    cursor: pointer;
    transition: .5s;
}

header nav .btn-login:hover {
    background-color: var(--blue);
    color: var(--white);
    transition: .5s;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-1);
    overflow: hidden;

    height: 0;
    visibility: hidden;

}

.dropdown-container .option,
.dropdown-container .selected {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-m) var(--space-xl);
    background-color: var(--white);
}

#drop-btn {
    padding: var(--space-xxs);
    cursor: pointer;
    display: none;
}

.active {
    height: auto;
    visibility: visible;
    padding: 1.5px 1.5px;
    gap: 1.5px;
}

/* CARD DE EQUIPE */
.equipe-card {
    flex: 1;
    max-width: 350px;
    min-width: 250px;
    display: flex;
    align-items: center;
    gap: var(--space-s);

    background-color: var(--yellow-1);
    border: 1.5px solid var(--yellow1);
    border-radius: var(--space-xs);

    overflow: hidden;
    cursor: pointer;
}

.equipe-card:hover {
    transform: scale(1.1);
}

.equipe-card,
.equipe-card:hover {
    transition: .3s;
}

.equipe-card .profile-icon {
    aspect-ratio: 1 / 1.5;
    height: 100%;
    max-height: 130px;
    background-color: var(--gray-1);
    border: 1.5px solid var(--yellow1);
    border-radius: 0 50% 50% 0;
}

.equipe-card .infos-container {
    flex: 1;
    display: flex;
    align-items: end;
    flex-direction: column;
    padding: var(--space-m) var(--space-m) var(--space-m) 0;
}

.equipe-card h6 {
    width: 100%;
    user-select: none;
    pointer-events: none;
}

.equipe-card .infos-container h6:nth-of-type(1) {
    color: var(--black);
    font-weight: bold;
}

.equipe-card .infos-container h6:nth-of-type(2) {
    color: var(--gray);

    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.equipe-card .curriculo-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-xs);

    background-color: var(--blue-1);
    border-radius: 50%;

    font-size: 1.2rem;
    color: var(--yellow);
    text-decoration: none;
}

.equipe-card .curriculo-btn:hover {
    background-color: var(--blue1);
    color: var(--yellow);
}

.equipe-card .curriculo-btn,
.equipe-card .curriculo-btn:hover {
    transition: .5s;
}

/* CARD DE APOIADOR */
.apoiador-card {
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 200px;
    max-width: 350px;
    padding: var(--space-s) var(--space-m);
    gap: var(--space-xs);
    background-color: var(--white);
    border-radius: var(--space-xs);
    overflow: hidden;

    text-decoration: none;
}

.apoiador-card img {
    aspect-ratio: 1 / 1;
    width: 70px;
    background-color: var(--gray-1);
    border-radius: 50%;
    overflow: hidden;
}

.apoiador-card .infos-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
}

.apoiador-card .infos-container h5 {
    color: var(--dark);
    font-weight: bold;
}

.apoiador-card .infos-container p {
    color: var(--gray);
}

@media (max-width: 1000px) {
    header .logo-container img {
        width: 25px;
    }

    header nav .option,
    header nav .selected {
        display: none;
    }

    #drop-btn {
        display: block;
    }

}

@media (max-width: 800px) {
    .btn {
        font-size: 15px;
    }

    .apoiador-card img {
        width: 60px;
    }


}