.introducao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: var(--space-xl);
    padding: var(--space-xl) var(--space-xxl);

    position: relative;
}

.introducao::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background-color: var(--blue);
    clip-path: polygon(60% 26%, 83% 12%, 95% 0, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 88%, 19% 60%, 40% 40%);
    z-index: -1;
}

.introducao::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background-color: var(--blue-1);
    z-index: -2;
}

.introducao .text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 250px;
    max-width: 600px;
    padding: var(--space-s) 0;
    gap: var(--space-m);
}

.introducao .logo {
    aspect-ratio: 1/1;
    flex: 1;
    max-width: 350px;
    min-width: 150px;
}

@media (max-width: 800px) {
    .introducao {
        justify-content: center;
    }

    .introducao .logo {
        max-width: 200px;
    }
}