/* INTRODUÇÃO */
.introducao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: var(--space-xl);
    padding: var(--space-xl) var(--space-xxl);

    position: relative;
}

.introducao::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background-color: var(--blue);
    clip-path: polygon(60% 26%, 83% 12%, 95% 0, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 88%, 19% 60%, 40% 40%);
    z-index: -1;
}

.introducao::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background-color: var(--blue-1);
    z-index: -2;
}

.introducao .text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 250px;
    max-width: 600px;
    padding: var(--space-s) 0;
    gap: var(--space-m);
}

.introducao .logo {
    aspect-ratio: 1/1;
    flex: 1;
    max-width: 350px;
    min-width: 150px;
}

/* EQUIPE */
.equipe-section-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--yellow);
    overflow: hidden;
    margin-top: -1px;
}

.equipe-section {
    display: flex;
    flex-direction: column;
    padding: var(--space-xl) var(--space-xxl);
    gap: var(--space-m);

    position: relative;
    overflow-y: visible;
    z-index: 0;
}

.equipe-section::before,
.equipe-section::after {
    content: '';
    position: absolute;
    width: 30%;
    aspect-ratio: 1 / 1;
    pointer-events: none;
    background-color: var(--yellow1);
    border-radius: 50%;
    z-index: -1;
}

.equipe-section::before {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}

.equipe-section::after {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.membro-show {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-l);
}

.membro-show #profileIcon {
    aspect-ratio: 1.5 / 1;
    flex: 1;
    flex-shrink: 0;
    max-width: 500px;
    min-width: 200px;
    background-color: var(--gray-1);
    border-radius: var(--space-xxs);
    box-shadow: var(--space-xxs) var(--space-xxs) var(--yellow-1);
    overflow: hidden;
}

.membro-show .infos-container {
    flex: 1;
    flex-shrink: 0;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.membros-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-l);
}

.equipe-section-wrapper .top-triangle,
.equipe-section-wrapper .bottom-triangle {
    width: 100%;
    height: var(--space-xl);
    z-index: 1;
}

.equipe-section-wrapper .top-triangle {
    background-color: var(--blue);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.equipe-section-wrapper .bottom-triangle {
    background-color: var(--white1);
    clip-path: polygon(0 100%, 0 0, 100% 100%);
}

.equipe-section .observation-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* RODAPÉ */
footer {
    display: flex;
    flex-direction: column;
    padding: var(--space-xl) var(--space-xxl);
    gap: var(--space-l);
    background-color: var(--white1);
    margin-top: -1px;
}

.apoiadores-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
}

.realizacao {
    display: flex;
    flex-direction: column;
    padding: var(--space-l);
    gap: var(--space-xs);
    background-color: var(--white);
    border-radius: var(--space-xs);
    overflow: hidden;
}

.realizacao .title-container {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.realizacao .title-container .divisor {
    width: 100%;
    height: 3px;
    background-color: var(--white1);
    border-radius: 3px;
}

.logos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-m);
}

.logos-container img {
    flex: 1;
    aspect-ratio: 1.5 / 1;
    min-width: 300px;
    max-width: 500px;
}

/* RESPONSIVIDADE */
@media (max-width: 800px) {
    .introducao {
        justify-content: center;
    }

    .introducao .logo {
        max-width: 200px;
    }

    .equipe-section::before,
    .equipe-section::after {
        width: 70%;
    }
}