{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto fortim - Formulário</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">

</head>

<body>

    <header>
        <div class="logo-container">
            <img src="{% static 'images/favicon.png' %}" alt="">
            <h4 class="bold">Projeto Fortim</h4>
        </div>
        <nav>
            <a href="/" class="option">Inicio</a>
            <a class="selected">Formulário</a>
            <!-- <a href="" class="option">Tabela</a> -->
            <!-- <a href="" class="option">Perfil</a> -->
            <a href="" class="btn btn-login">Fazer login</ion-icon></a>
        </nav>
        <h3 class="c-gray" id="drop-btn"><ion-icon name="arrow-dropdown"></ion-icon></h3>
    </header>
    <div class="dropdown-container" id="drop-container">
        <a href="/" class="option">Inicio</a>
        <a class="selected">Formulário</a>
        <!-- <a href="" class="option">Tabela</a> -->
        <!-- <a href="" class="option">Perfil</a> -->
    </div>

    <form action="" method="post" class="form-container">
        {% csrf_token %}

        <!-- Identificação -->
        <section>
            <h3>Identificação</h3>
            <!-- Nome -->
            <div class="question-container">
                <h4>{{ form.nome_apelido.label }}</h4>
                <div class="options-container">
                    {{ form.nome_apelido }}
                </div>
                <div class="error-container">{{ form.nome_apelido.errors }}</div>
            </div>
            <!-- Idade -->
            <div class="question-container">
                <h4>{{ form.idade.label }}</h4>
                <div class="options-container">
                    {{ form.idade }}
                </div>
                <div class="error-container">{{ form.idade.errors }}</div>
            </div>
            <!-- Genero -->
            <div class="question-container">
                <h4>{{ form.genero.label }}</h4>
                <div class="options-container">
                    {{ form.genero }}
                </div>
                <div class="error-container">{{ form.genero.errors }}</div>
            </div>
        </section>

        <!-- Escolaridade -->
        <section>
            <h3>Escolaridade</h3>
            <!-- Escolaridade -->
            <div class="question-container">
                <h4>{{ form.escolaridade.label }}</h4>
                <div class="options-container">
                    {{ form.escolaridade }}
                </div>
                <div class="error-container">{{ form..errors }}</div>
            </div>
        </section>

        <!-- Tempo de Pesca -->
        <section>
            <h3>Tempo de atuação</h3>
            <!-- Tempo de Pesca -->
            <div class="question-container">
                <h4>{{ form.tempo_pesca.label }}</h4>
                <div class="options-container">
                    {{ form.tempo_pesca }}
                </div>
                <div class="error-container">{{ form.tempo_pesca.errors }}</div>
            </div>
        </section>

        <!-- Renda -->
        <section>
            <h3>Renda</h3>
            <!-- Pesca principal Renda -->
            <div class="question-container">
                <h4>{{ form.pesca_principal_renda.label }}</h4>
                <div class="options-container">
                    {{ form.pesca_principal_renda }}
                </div>
                <div class="other-container">
                    <h5>{{ form.outra_renda.label }}</h5>{{ form.outra_renda }}
                </div>
                <div class="error-container">{{ form.pesca_principal_renda.errors }} {{ form.outra_renda.errors }}</div>
            </div>
            <!-- Renda vinda da Pesca -->
            <div class="question-container">
                <h4>{{ form.renda_pesca.label }}</h4>
                <div class="options-container">
                    {{ form.renda_pesca }}
                </div>
                <div class="error-container">{{ form.renda_pesca.errors }}</div>
            </div>
        </section>

        <!-- Familia -->
        <section>
            <h3>Família</h3>
            <!-- Familiares Pescadores -->
            <div class="question-container">
                <h4>{{ form.familiares_pescadores.label }}</h4>
                <div class="options-container">
                    {{ form.familiares_pescadores }}
                </div>
                <div class="other-container">
                    <h5>{{ form.quantidade_familiares.label }}</h5>{{ form.quantidade_familiares }}
                </div>
                <div class="error-container">{{ form.familiares_pescadores.errors }} {{ form.quantidade_familiares.errors }}</div>
            </div>
        </section>

        <!-- Pos-Captura -->
        <section>
            <h3>Pós-captura</h3>
            <!-- Pos-Captura -->
            <div class="question-container">
                <h4>{{ form.atividade_pos_captura.label }}</h4>
                <div class="options-container">
                    {{ form.atividade_pos_captura }}
                </div>
                <div class="other-container">
                    <h5>{{ form.qual_pos_captura.label }}</h5>{{ form.qual_pos_captura }}
                </div>
                <div class="error-container">{{ form.atividade_pos_captura.errors }} {{ form.qual_pos_captura.errors }}</div>
            </div>
        </section>

        <!-- Registro -->
        <section>
            <h3>Registro</h3>
            <!-- Registro -->
            <div class="question-container">
                <h4>{{ form.possui_registro.label }}</h4>
                <div class="options-container">
                    {{ form.possui_registro }}
                </div>
                <div class="error-container">{{ form.possui_registro.errors }}</div>
            </div>
        </section>

        <!-- Materiais -->
        <section>
            <h3>Materiais de pesca</h3>
            <!-- Materiais de Pesca -->
            <div class="question-container">
                <h4>{{ form.materiais.label }}</h4>
                <div class="options-container">
                    {{ form.materiais }}
                </div>
                <div class="other-container">
                    <h5>{{ form.material_outro.label }}</h5>{{ form.material_outro }}
                </div>
                <div class="error-container">{{ form.materiais.errors }} {{ form.material_outro.errors }}</div>
            </div>
        </section>

        <!-- Sazonalidade -->
        <section>
            <h3>Sazonalidade</h3>
            <!-- Meses mais produtivos -->
            <div class="question-container">
                <h4>{{ form.meses_mais_produtivos.label }}</h4>
                <div class="options-container">
                    {{ form.meses_mais_produtivos }}
                </div>
                <div class="error-container">{{ form.meses_mais_produtivos.errors }}</div>
            </div>
            <!-- Meses menos produtivos -->
            <div class="question-container">
                <h4>{{ form.meses_menos_produtivos.label }}</h4>
                <div class="options-container">
                    {{ form.meses_menos_produtivos }}
                </div>
                <div class="error-container">{{ form.meses_menos_produtivos.errors }}</div>
            </div>
        </section>

        <!-- Áreas -->
        <section>
            <h3>Áreas de pesca</h3>
            <!-- Areas de pesca -->
            <div class="question-container">
                <h4>{{ form.zonas_pesca.label }}</h4>
                <div class="options-container">
                    {{ form.zonas_pesca }}
                </div>
                <div class="other-container">
                    <h5>{{ form.zona_outro.label }}</h5>{{ form.zona_outro }}
                </div>
                <div class="error-container">{{ form.zonas_pesca.errors }} {{ form.zona_outro.errors }}</div>
            </div>
        </section>

        <!-- Especies -->
        <section>
            <h3>Espécies</h3>
            <!-- Especies -->
            <div class="question-container">
                <h4>{{ form.especies_principais.label }}</h4>
                <div class="options-container">
                    {{ form.especies_principais }}
                </div>
                <div class="error-container">{{ form.especies_principais.errors }}</div>
            </div>
        </section>

        <!-- Percepcao -->
        <section>
            <h3>Percepção</h3>
            <!-- Percepcao -->
            <div class="question-container">
                <h4>{{ form.percepcao_captura.label }}</h4>
                <div class="options-container">
                    {{ form.percepcao_captura }}
                </div>
                <div class="error-container">{{ form.percepcao_captura.errors }}</div>
            </div>
        </section>

        <!-- Conservação -->
        <section>
            <h3>Conservação</h3>
            <!-- Conservação -->
            <div class="question-container">
                <h4>{{ form.conservacao.label }}</h4>
                <div class="options-container">
                    {{ form.conservacao }}
                </div>
                <div class="other-container">
                    <h5>{{ form.conservacao_outro.label }}</h5>{{ form.conservacao_outro }}
                </div>
                <div class="error-container">{{ form.conservacao.errors }} {{ form.conservacao_outro.errors }}</div>
            </div>
        </section>

        <!-- Problemas -->
        <section>
            <h3>Problemas</h3>
            <!-- Problemas -->
            <div class="question-container">
                <h4>{{ form.problemas.label }}</h4>
                <div class="options-container">
                    {{ form.problemas }}
                </div>
                <div class="other-container">
                    <h5>{{ form.problema_outro.label }}</h5>{{ form.problema_outro }}
                </div>
                <div class="error-container">{{ form.problemas.errors }} {{ form.problema_outro.errors }}</div>
            </div>
        </section>
        
        <!-- Descarte -->
        <section>
            <h3>Descarte</h3>
            <!-- Descarte -->
            <div class="question-container">
                <h4>{{ form.destino_descarte.label }}</h4>
                <div class="options-container">
                    {{ form.destino_descarte }}
                </div>
                <div class="error-container">{{ form.destino_descarte.errors }}</div>
            </div>
        </section>

        <!-- Programas -->
        <section>
            <h3>Programas Ambientais</h3>
            <!-- Materiais Guardados -->
            <div class="question-container">
                <h4>{{ form.materiais_guardados.label }}</h4>
                <div class="options-container">
                    {{ form.materiais_guardados }}
                </div>
                <div class="error-container">{{ form.materiais_guardados.errors }}</div>
            </div>
            <!-- Existe Ponto de Coleta -->
            <div class="question-container">
                <h4>{{ form.existe_ponto_coleta.label }}</h4>
                <div class="options-container">
                    {{ form.existe_ponto_coleta }}
                </div>
                <div class="error-container">{{ form.existe_ponto_coleta.errors }}</div>
            </div>
            <!-- Participaria do Programa -->
            <div class="question-container">
                <h4>{{ form.participaria_programa.label }}</h4>
                <div class="options-container">
                    {{ form.participaria_programa }}
                </div>
                <div class="error-container">{{ form.participaria_programa.errors }}</div>
            </div>
            <!-- Reaproveitamento em forma de Artesanato -->
            <div class="question-container">
                <h4>{{ form.reaproveitamento_artesanato.label }}</h4>
                <div class="options-container">
                    {{ form.reaproveitamento_artesanato }}
                </div>
                <div class="error-container">{{ form.reaproveitamento_artesanato.errors }}</div>
            </div>
        </section>
        
        <!-- Turismo -->
        <section>
            <h3>Turismo</h3>
            <!-- Turismo e a Pesca -->
            <div class="question-container">
                <h4>{{ form.turismo_pesca.label }}</h4>
                <div class="options-container">
                    {{ form.turismo_pesca }}
                </div>
                <div class="error-container">{{ form.turismo_pesca.errors }}</div>
            </div>
            <!-- Turismo valoriza a Pesca -->
            <div class="question-container">
                <h4>{{ form.turismo_valoriza.label }}</h4>
                <div class="options-container">
                    {{ form.turismo_valoriza }}
                </div>
                <div class="error-container">{{ form.turismo_valoriza.errors }}</div>
            </div>
        </section>

        <button type="submit" class="btn">Enviar</button>

    </form>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="{% static 'js/dropdownHandler.js' %}"></script>
</body>

</html>