{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto fortim</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>

<body>
    <div class="introducao">
        <div class="text-container">
            <h1 class="c-white bold">Projeto de base comunitária: <span class="c-yellow">Fortim</span></h1>
            <h4 class="c-gray-1">Breve descrição do projeto</h4>
            <a href="" class="btn secondary">Responder formulário</a>
        </div>

        <img src="{% static 'images/favicon.png' %}" alt="Logo do projeto" class="logo">
    </div>
</body>

</html>