{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto fortim</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>

<body>

    <header>
        <div class="logo-container">
            <img src="{% static 'images/favicon.png' %}" alt="">
            <h4 class="bold">Projeto Fortim</h4>
        </div>
        <nav>
            <a class="selected">Inicio</a>
            <a href="/formulario" class="option">Formulário</a>
            <!-- <a href="" class="option">Tabela</a> -->
            <!-- <a href="" class="option">Perfil</a> -->
            <a href="" class="btn btn-login">Fazer login</ion-icon></a>
        </nav>
        <h3 class="c-gray" id="drop-btn"><ion-icon name="arrow-dropdown"></ion-icon></h3>
    </header>
    <div class="dropdown-container" id="drop-container">
        <a class="selected">Inicio</a>
        <a href="/formulario" class="option">Formulário</a>
        <!-- <a href="" class="option">Tabela</a> -->
        <!-- <a href="" class="option">Perfil</a> -->
    </div>

    <div class="introducao">
        <div class="text-container">
            <h1 class="c-white bold">Projeto de base comunitária: <span class="c-yellow">Fortim</span></h1>
            <h4 class="c-gray-1">Breve descrição do projeto</h4>
            <a href="/formulario" class="btn secondary">Responder formulário</a>
        </div>

        <img src="{% static 'images/favicon.png' %}" alt="Logo do projeto" class="logo">
    </div>

    <div class="equipe-section-wrapper">
        <div class="top-triangle"></div>
        <div class="equipe-section">
            <div class="membro-show">
                <img src="" alt="" id="profileIcon" title="Foto do pesquisador">
                <div class="infos-container">
                    <h3 class="c-blue bold" id="memberShowName">Nome do pesquisador</h3>
                    <h4 class="c-blue-1" id="memberShowDescription">Descrição/autobiografia</h4>
                    <a href="" class="btn primary" id="memberShowButton" title="Currículo do pesquisador"
                        target="_blank" rel="noopener noreferrer">Ver
                        currículo</a>
                </div>
            </div>
            <div class="membros-container">
                <div class="equipe-card" index="0" indicator="1">
                    <img src="" alt="" class="profile-icon" title="Foto do pesquisador 1">
                    <div class="infos-container">
                        <h6>Nome 1</h6>
                        <h6>Descrição Pesquisador 1</h6>
                        <a href="" class="curriculo-btn" title="Currículo do pesquisador 1" target="_blank"
                            rel="noopener noreferrer"><ion-icon name="list-box"></ion-icon></a>
                    </div>
                </div>
                <div class="equipe-card" index="1" indicator="2">
                    <img src="" alt="" class="profile-icon" title="Foto do pesquisador 2">
                    <div class="infos-container">
                        <h6>Nome 2</h6>
                        <h6>Descrição Pesquisador 2</h6>
                        <a href="" class="curriculo-btn" title="Currículo do pesquisador 2" target="_blank"
                            rel="noopener noreferrer"><ion-icon name="list-box"></ion-icon></a>
                    </div>
                </div>
                <div class="equipe-card" index="2" indicator="3">
                    <img src="" alt="" class="profile-icon" title="Foto do pesquisador 3">
                    <div class="infos-container">
                        <h6>Nome 3</h6>
                        <h6>Descrição Pesquisador 3</h6>
                        <a href="" class="curriculo-btn" title="Currículo do pesquisador 3" target="_blank"
                            rel="noopener noreferrer"><ion-icon name="list-box"></ion-icon></a>
                    </div>
                </div>
                <div class="equipe-card" index="3" indicator="4">
                    <img src="" alt="" class="profile-icon" title="Foto do pesquisador 4">
                    <div class="infos-container">
                        <h6>Nome 4</h6>
                        <h6>Descrição Pesquisador 4</h6>
                        <a href="" class="curriculo-btn" title="Currículo do pesquisador 4" target="_blank"
                            rel="noopener noreferrer"><ion-icon name="list-box"></ion-icon></a>
                    </div>
                </div>
            </div>
            <div class="observation-container">
                <h6 class="c-blue-1">Clique nos cards para ver as informações dos pesquisadores por completo*</h6>
            </div>
        </div>
        <div class="bottom-triangle"></div>
    </div>

    <footer>
        <h3 class="c-blue1 bold">Colaboradores</h3>
        <div class="apoiadores-container">
            <a href="http://lattes.cnpq.br/1498864101817459" class="apoiador-card" identifier="sandro" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'images/profiles/sandro.gif' %}" alt="Foto de Sandro Neves">
                <div class="infos-container">
                    <h5>Sandro Neves</h5>
                    <p>Professor e Pesquisador</p>
                </div>
            </a>
            <a href="http://lattes.cnpq.br/4994826036911695" class="apoiador-card" identifier="otilia" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'images/profiles/otilia.gif' %}" alt="">
                <div class="infos-container">
                    <h5>Ótilia Mônica</h5>
                    <p>Professora e Pesquisadora</p>
                </div>
            </a>

            <h6 class="c-gray1" style="min-width: 100%;text-align: center;">Clique nos cards para acessar o currículo dos colaboradores*</h6>
        </div>
        <div class="realizacao">
            <div class="title-container">
                <h5 class="c-dark bold">Realização</h5>
                <span class="divisor"></span>
            </div>
            <div class="logos-container">
                <img src="{% static 'images/logos/logo-ifce.png' %}" alt="Logo do IFCE">
                <img src="{% static 'images/logos/logo-funcap.png' %}" alt="Logo da Funcap">
                <img src="{% static 'images/logos/logo-governo-ceara.png' %}" alt="Logo do Governo do Ceára">
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="{% static 'js/equipeHandler.js' %}"></script>
    <script src="{% static 'js/dropdownHandler.js' %}"></script>
</body>

</html>