{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto fortim - Login</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>

<body>

    <header>
        <div class="logo-container">
            <img src="{% static 'images/favicon.png' %}" alt="">
            <h4 class="bold">Projeto Fortim</h4>
        </div>
        <nav>
            <a href="/" class="option">Inicio</a>
            <a href="/formulario" class="option">Formulário</a>

            {% if user.is_authenticated %}
            <!-- <a href="" class="option">Tabela</a> -->
            <a href="/perfil" class="option">Perfil</a>
            {% endif %}
            <a class="btn btn-login">Fazer login</ion-icon></a>
        </nav>
        <h3 class="c-gray" id="drop-btn"><ion-icon name="arrow-dropdown"></ion-icon></h3>
    </header>
    <div class="dropdown-container" id="drop-container">
        <a href="/" class="option">Inicio</a>
        <a href="/formulario" class="option">Formulário</a>

        {% if user.is_authenticated %}
        <!-- <a href="" class="option">Tabela</a> -->
        <a href="/perfil" class="option">Perfil</a>
        {% endif %}
    </div>

    <main>
        <form method="post">
            {% csrf_token %}
            <h3 class="c-black bold">Login</h3>
            <div class="input-container">
                <label for="user">Nome do usuário</label>
                <input name="user" placeholder="Nome do usuário" type="text">
            </div>
            <div class="input-container">
                <label for="password">Senha</label>
                <input name="password" placeholder="Senha" type="password">
            </div>
            <button type="submit" class="btn login-btn">Fazer login</button>

            {% if error %}
            <h6 class="error-message">*{{ error }}</h6>
            {% endif %}
        </form>
    </main>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="{% static 'js/dropdownHandler.js' %}"></script>
</body>

</html>